

body {
  font-family: 'Rubik', 'Rubik Glitch', cursive;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black url(../assets/bg.avif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_container {
  max-width: 60%;
}

ol {
  padding: 0; /* Remove default padding */
  margin-top: 10px; /* Increase space between list and previous element */
  margin-bottom: 10px; /* Increase space between list and next element */
  list-style-type: decimal; /* Set the numbering style */
}

li {
  margin-bottom: 10px; /* Increase space between list items */
  font-size: 16px; /* Increase font size */
  font-weight: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff9900;
}