body {
    font-family: 'Rubik', 'Rubik Glitch', cursive;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black url(./assets/bg.avif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.timer {
    margin: 0 10px;
}

.timer span {
    font-size: 40px;
    font-weight: bold;
}

.label {
    font-size: 16px;
    color: #888;
    padding: 8px;
}
